<div class="col-xs-10 col-xs-offset-1 about">
	<h1> About Splurty</h1>
	
	<p>
		Splurty was built by <a href="">Kellen</a> while trying to learn ruby and rails. 
	</p>
	<br />
	<p>
		It has been an enjoyable experience so far. There continues to be lots to learn and many questions to be answered. 
	</p>
	<p>
		If you want to learn how to code this site <a href="http://firehoseproject.com">click here</a>.
	</p>
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'darth.jpeg', :class => 'img-responsive' %>
	</div>
	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Darth Vader</h2>
		<br />
		<p>
			Darth had a rough childhood. First he flew pod racers in a mediocre Star War's Episode 1. Then he turned angsty in Episodes 2 and 3 despite having the wonderful Natalie Portman as his wife/lover. After a failed and thankfully brief fight with some lava, he was rebuilt as Darth Vader.
		</p>
	</div>
	<br class="clear" />
	<div class="col-xs-12 col-sm-4" style="padding-top: 30px;">
		<%= image_tag 'luke.jpg', :class => 'img-responsive' %>
	</div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-1">
		<h2 class="text-center">Luke Skywalker</h2>
		<br />
		<p>
			Luke was played by Mark Hamill. Despite being one of the most well known movie characters ever, he basically did nothing else with his <a href="http://fivethirtyeight.com/datalab/who-had-the-worst-career-after-the-first-star-wars-trilogy/"> career</a>. Thankfully, or maybe not, he will make a return in the new Star Wars movies coming out next year. We all wait with bated breath. 
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />