@font-face{ 
	font-family: 'MyWebFont';
	src: url('/assets/WebFont.eot');
	src: url('/assets/WebFont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/WebFont.woff') format('woff'),
	     url('/assets/WebFont.ttf') format('truetype'),
	     url('/assets/WebFont.svg#webfont') format('svg');
}